{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static "admin/css/about.css" %}">
</head>
<body>
    <section class="team-section">
        <h2 class="section-title">- Meet Our Team -</h2>
        <div class="team-container">
            <div class="team-member">
                <div class="team-img">
                    <img src="https://images-ng.pixai.art/images/orig/562a2b50-ce45-4790-8264-07c71a76dc8c" alt="William">
                </div>
                <h3>Kartikey Roshan</h3>
                <p class="role">Frontend/Ideation</p>
                <p class="description">The Initiator, who steps up whenever a new task is at hand providing support to team whenever needed.</p>
            </div>

            <div class="team-member">
                <div class="team-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCgZx4SbGhXJ5I2eDEzrxPp3-Kfw3XLqOAlA&s" alt="Camila">
                </div>
                <h3>Himanshu Jorwal</h3>
                <p class="role">Frontend/PPT</p>
                <p class="description">The Controller, who takes charge of distributing the tasks among the team on the basis of their strengths and weaknesses.</p>
            </div>

            <div class="team-member">
                <div class="team-img">
                    <img src="https://m.media-amazon.com/images/I/71RrGwdbjOL.jpg" alt="Isabella">
                </div>
                <h3>Akash</h3>
                <p class="role">OnDemand Chat API/Backend/Deployment</p>
                <p class="description">The Duelist, who offers to take the hardest tasks at hand and keeps team away from distraction. </p>
            </div>
            <div class="team-member">
                <div class="team-img">
                    <img src="https://64.media.tumblr.com/e1d9678d49b0f2d87eab0f5f7b8a9246/8cc469848598c8fd-6c/s2048x3072/a590e36d01b41194f18166269db0e03eb9621bbc.pnj" alt="Isabella">
                </div>
                <h3>Ankit Kumar</h3>
                <p class="role">Backend Engineer/Django Integration</p>
                <p class="description">The Duelist, who works on the important tasks silently acting as backbone of the team. </p>
        </div>
    </section>
</body>
    
</body>
</html>